<body>
    <div class="bg-img">
        <div class="blur">
            
            <div id="container">
                
                <div class="left">
                    <h4 style="font-weight: bold; margin: 30px 0;">Welcome Back!</h4>
                    <form>
                        <div class="mb-3">
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <p>Don’t have an account? <a style="font-weight: bold;">Register</a> now!</p>
                      </form>
                </div>
                <div class="right">
                    <img src="/assets/image-removebg-preview.png">
                    <div class="colorbx"></div>
                </div>
            </div>
        </div>
    </div>
</body>
