<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defining Beauty</title>
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Lexend+Zetta:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Lexend+Zetta:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Alex+Brush&family=Lexend+Zetta:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&family=Alex+Brush&family=Lexend+Zetta:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&family=Alex+Brush&family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Lexend+Zetta:wght@100..900&display=swap" rel="stylesheet">
</head>
<body >
       <section class="hair-section">
        <div class="blur-overlayy"></div>
        <div class="paragraphs">
             <h3>GOOD HAIR SPEAKS</h3> 
             <h3 class="secoond-paragraph">LOUDER THAN</h3>
             <h3 class="third-paragraph"> WORDS</h3>
        </div>
       </section>
  
       <section class="begin">
        <div class="pink-box">
            <h3>our expritse</h3>
            <p>Step into our salon and prepare to be captivated by the sheer elegance of our hair section. Nestled within our sanctuary of beauty, our hair studio is a haven of sophistication and style.</p>
        </div>
       </section>

       <section class="photo-section">
        <div class="photo-item ">
            <img src="assets/Hair/2.jpg" alt="Photo 1">
            <p>"From precision cuts to stunning styles, we're here to bring your hair dreams to life, one fabulous appointment at a time."​</p>
        </div>
        <div class="photo-item  ">
            <img src="assets/Hair/3.jpg" alt="Photo 2">
            <p>"Elevate your look with expertly crafted haircuts and personalized styling sessions tailored to your unique taste and personality. Our team of skilled professionals is dedicated to bringing out the best in your hair."</p>
        </div>
    </section>

    <section class="price-cut">
        <h1>
            H​air ccuts & styles ​prices
        </h1>
        <hr>
        <h3>
            <span>Hair Cut.......................... $50.00</span><br>
            <span>Shampoo & Hair Cut...... $50.00</span><br>
            <span>Supercut............................ $50.00</span><br>
            <span>Wash & Blow Dry.............. $50.00</span><br>
        </h3>
        <h4>
            <span>Curling...................... $50.00</span>
            <span>Hair up...................... $50.00</span>
            <span>Bang Trim.................... $50.00</span>
        </h4>
        
    </section>

<section class="treatments">
    <h1>H​air Treatments</h1>
    <h2>"Treatments tailored for tresses"</h2>
</section>


    <section class="bio-section">
        <div class="bio-content">
            <div class="bio-text">
                <h1>BioActive Treatment </h1>
                <p>"Indulge in the rich, creamy textures of bioactive treatments as they envelop your strands, replenishing moisture, restoring vitality, and enhancing resilience. Whether you're seeking to tame frizz, repair damage, or boost volumes.​"</p>
                <h3>Price start:..........$70</h3>
            </div>
            <div class="bio-photo">
                <img src="assets/Hair/4.jpg" alt="Square Photo">
            </div>
        </div>
    </section>

    <section class="ola-section">
        <div class="ola-content">
            <div class="ola-photo">
                <img src="assets/Hair/5.jpg" alt="Square Photo">
            </div>
            <div class="ola-text">
                <h1>Olaplex Treatment</h1>
                <p>"Discover the hair revolution with Olaplex. Repair, strengthen, and transform your locks with our breakthrough treatments. Say hello to healthier, shinier hair that defies damage and embraces beauty​"</p>
                <h3>Price start:..........$60</h3>
            </div>
        </div>
    </section>
    
<section class="ph-section">
        <div class="ph-content">
            <div class="ph-text">
                <h1>PH Bonder Treatment  </h1>
                <p>"Experience luxury reborn with PH bonder treatments. Indulge in opulent formulas infused with precious caviar extract, designed to lavish your hair with unparalleled nourishment and rejuvenation."</p>
                <h3>Price start:..........$45</h3>
            </div>
            <div class="ph-photo">
                <img src="assets/Hair/6.jpg" alt="Square Photo">
            </div>
        </div>
</section>


    <section class="ola-section">
        <div class="ola-content">
            <div class="ola-photo">
                <img src="assets/Hair/7.jpg" alt="Square Photo">
            </div>
            <div class="ola-text">
                <h1>Kerastase Treatment</h1>
                <p>"Transform your hair with kerastase treatments. Replenish, fortify, and beautify your locks, infusing them with the essential nutrients they crave. Embrace stronger, more radiant hair with every protein-packed session​"</p>
                <h3>Price start:..........$30</h3>
            </div>
        </div>
    </section>

    <section class="color-section"> 
        <div class="blur-overlayo"></div>
        <div class="paragraphhh">
             <h3>NEW COLOR</h3> 
             <h3 class="secoond-paragraphhh">NEW CHAPTER</h3>
             
        </div>
    </section>

    <section class="price-color">
        <h1>
            H​air colouring​ prices
        </h1>
        <hr>
        <h3>
            <span>Half-Head Foils   ​ .................... $50.00</span><br>
            <span>Full-Head Foils   ​ .................... $50.00</span><br>
            <span>Balayage  ​            .................... $50.00</span><br>
            
        </h3>
        <h4>
            <span>Global Colour   ​ ................... $50.00</span>
            <span>Global Lightener   ​ ............. $50.00</span>
            <span>Global Regrowth  ​ ............... $50.00</span>
            <span>Toner           ​   .................... $50.00 </span>
        </h4>
        
    </section>
    <section class="black-section">
        <div class="black-content">
            <div class="black-text">
                <p>"Enhance your natural allure with rich brunette tones, offering a classic and versatile elegance."​​</p>
            </div>
            <div class="black-photo">
                <img src="assets/Hair/9.jpg" alt="Square Photo">
            </div>
        </div>
    </section>

    <section class="red-section">
        <div class="red-content">
            <div class="red-photo">
                <img src="assets/Hair/10.jpg" alt="Square Photo">
            </div>
            <div class="red-text">
                <p>"Ignite your style with fiery red locks, adding a bold and vibrant touch to your beauty​"</p>
            </div>
        </div>
    </section>
    <section class="brown-section">
        <div class="brown-content">
            <div class="brown-text">
                <p>"Embrace timeless elegance with sleek black hair, exuding sophistication and allure​"</p>
            </div>
            <div class="brown-photo">
                <img src="assets/Hair/11.jpg" alt="Square Photo">
            </div>
        </div>
    </section>

    <section class="blond-section">
        <div class="blond-content">
            <div class="blond-photo">
                <img src="assets/Hair/12.jpg" alt="Square Photo">
            </div>
            <div class="blond-text">
                <p>"Illuminate your beauty with golden blonde hues, radiating warmth and charm with every strand"​</p>
            </div>
        </div>
    </section>

    <section class="end-section">
        <div class="blur-overlayyy"></div>
        <div class="paragraphss">
             <h3>your hair is the crown that you </h3> 
             <h3 class="secoond-paragraphss">never take it off​</h3>
        </div>
    </section>


</body>
</html>