body {
    background-color: #fffafc;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  h1{
    font-size: 50px;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 100;
     font-style: normal;
     padding-left: 4%;
}
h3{
    font-size: 67px;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 100;
     font-style: normal;
     text-align: center;
     margin-bottom: 0%;
}
h2{
    font-size: 22px;
    font-family:"Poppins", sans-serif;

}
h4{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-bottom: 3%;
}
h5{
    font-size: 110px;
    font-family: Brittany;
    text-align: center;
    padding-bottom: 6%;
}
  
  header {
    text-align: center;
  }
  
  .topfacial {
    background-size: cover;
    margin: 0%;
    width: 100%;
    height: 80vh;
    background-image: url('/assets/WhatsApp Image 2024-05-19 at 22.45.36_b2db935b.jpg');
  }
  

  .mednail {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/WhatsApp Image 2024-05-19 at 22.45.36_198240da.jpg');
  }


  .top {
    font-size: 120px;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 50;
    font-style: normal;
    margin: 10px 10px;
  }
  @font-face {
    font-family: brittany;
    src: url(/assets/brittany_signature/BrittanySignature.ttf);
  }
  .sorts-mill-goudy-regular {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: lighter;
    font-style: normal;
  }
  
  .sorts-mill-goudy-regular-italic {
    font-family: "Sorts Mill Goudy", serif;
  }
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  
  
  .facial {
    background-color: #fffafc;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 100%;
  }
  
  .left h2 {
    font-size: 22px;
    color: black;
    text-align: left;
  }
  .right h2 {
    font-size: 22px;
    color: black;
    text-align: left;
  }
  
  .left {
    flex: 0 0 65%;
    padding-left: 8%;
    font-size: 30px;
    color: black;
    text-align: left;
    padding-right: 10%;
    padding-top: 2%;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 50;
    font-style: normal;
    box-sizing: border-box;
    align-items: center;
  
  }
  .right {
    flex: 0 0 65%;
    padding-left: 8%; /* Adjust the padding as needed */
    font-size: 30px;
    color: black;
    text-align: left; /* Align text to the left */
    padding-right: 8%; /* Adjust the padding as needed */
    padding-top: 2%;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 50;
    font-style: normal;
    box-sizing: border-box;
}
  
  .pic {
    
    flex: 0 0 35%;
    text-align: right;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    box-sizing: border-box;
    
  }
  .pic.r {
    
    flex: 0 0 45%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    box-sizing: border-box;
    
  }
  
  .pic img {
    width: 115%;
    width: 115%;
    height: auto;
    border-radius: 5px;
    max-width: 110%;
  }
  .button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 50px; /* Adjust to a high value to create the cylindrical shape */
    padding: 20px 45px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    align-self: center;
  
  }
  
  .button:hover{
    color: white;
    background-color: black;
  }
  .box1{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
  }
  ul{
    margin: 0%;
  }