<body>
    <div class="vd">
        <video muted autoplay playsinline loop class="bgvd">
            <source src="/assets/mv.mp4" type="video/mp4">
        </video>
        <div class="cont">
            <h1>VELVET BEAUTY</h1>
            <a (click)="scrollToAbout()" class="btn">See More!</a>
        </div>
    </div> 

    <div class="img-txt" id="go2about">
        <div class="left-a">
            <img src="/assets/image-removebg-preview (3).png" class="circular-frame">
        </div>
        <div class="right-a" style="align-items: left; text-align: left;">
            <h2>Where Beauty Reigns.</h2>
            <p>Explore our exquisite range of skincare, haircare, and makeup – a perfect blend of tradition and innovation. Elevate your routine with our lush textures and timeless formulations.</p>
            <a routerLink="/aboutus" class="btn">Explore Our Story!</a>
        </div>
    </div>
<div class="grid-sec">
    <div class="video-grid">
        <div class="grid-item">
            <video muted autoplay playsinline loop class="grid-vd">
                <source src="/assets/1.mp4" type="video/mp4">
            </video>
        </div>
        <div class="grid-item">
            <video muted autoplay playsinline loop class="grid-vd">
                <source src="/assets/2.mp4" type="video/mp4">
            </video>
        </div>
        <div class="grid-item">
            <video muted autoplay playsinline loop class="grid-vd">
                <source src="/assets/3.mp4" type="video/mp4">
            </video>
        </div>
        <div class="headline">
            <h2>​At Velvet, we're dedicated to glamming you up from head to toe!</h2>
        </div>
    </div>
</div>

<div class="img-txt">

    <div class="left-b">
        <h2>​Bring your Bestie and get each 20% off on any hair treatment!</h2>            
        <a routerLink="/aboutus" class="btn">Book Now!</a>
    </div>
    <div class="right-b">
        <img src="/assets/Is This the Next Wrapdress_.jpeg" width="80%" height="100%">
    </div>
</div>

<div class="photo-gallery">
    <div class="text-section">
        <h2 style="font-size: 60px; font-weight: 500;">Our <b>Velvet</b> Beauties</h2><br>
        <p>Every snapshot tells a story of beauty, passion, and pure indulgence.</p>
    </div>
    <div class="gallery-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/1.jpeg" class="d-block w-100" alt="Photo 1">
                        </div>
                        <div class="col">
                            <img src="/assets/2.jpeg" class="d-block w-100" alt="Photo 2">
                        </div>
                        <div class="col">
                            <img src="/assets/3.jpeg" class="d-block w-100" alt="Photo 3">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/4.jpeg" class="d-block w-100" alt="Photo 4">
                        </div>
                        <div class="col">
                            <img src="/assets/5.jpeg" class="d-block w-100" alt="Photo 5">
                        </div>
                        <div class="col">
                            <img src="/assets/6.jpeg" class="d-block w-100" alt="Photo 6">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/7.jpeg" class="d-block w-100" alt="Photo 7">
                        </div>
                        <div class="col">
                            <img src="/assets/8.jpeg" class="d-block w-100" alt="Photo 8">
                        </div>
                        <div class="col">
                            <img src="/assets/9.jpeg" class="d-block w-100" alt="Photo 9">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="shopgrid">
    <h1 style="font-size: 50px;">Why shop at <b>Velvet</b>?</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card">
                <img src="/assets/1332646.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">100% Original Products</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="/assets/2769339.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Delivery options</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="/assets/4989753.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Return Anytime</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="/assets/508281.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Secure Payment</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="boxfooter"></div>

</div>


<div class="img-txt" id="Contactform">

    <div class="left-c">
        <h2 style="padding: 30px; font-size: 70px;">Let's get in touch!​</h2>            
        <img src="/assets/WhatsApp_Image_2024-05-15_at_03.40.12_2848838c-removebg-preview.png" width="70%" class="bottomright">
    </div>
    <div class="right-c">
        <div class="contact">
            <img class="topright" src="/assets/7096435.png">

                        <div class="card">
                            <div class="card-body">
                                <form #contactForm="ngForm" (submit)="showAlert()">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" required placeholder="Enter your name" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" required placeholder="Enter a valid email address" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" id="message" name="message" rows="5" required ngModel></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </form>
                                
                                
                            </div>
                        </div>
        </div>
        
    </div>
</div>

    
</body>
