<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velvet Facials</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
<style>
    .p1{
        font-size: 70px;
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 100;
         font-style: normal;
         padding-left: 4%;
    }
    .p3{
        font-size: 50px;
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 100;
         font-style: normal;
         padding-left: 4%;
    }
    .p2{
        font-size: 25px;
        font-family: "Poppins", sans-serif;

    }
    .p4{
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding-bottom: 3%;
    }
</style>
</head>
<body>
    <section class="topfacial">
        <div class="top">
            <p>Facials</p>
        </div>
    </section>
    <div class="box1">
        <section class="facial">
        <div class="left">
          <div class="p1">
            <p>Snail Facial</p>
          </div>
          <div class="p2">
            <ul>
                <p><li>Description: The snail facial includes 4 steps, exfoliating, deep cleansing, snail face mask extract and moisturizing</li><br>
                <li>Targets: Dry, mature and dull skin</li><br>
                <li>Leaves the skin glowing, radiant and plump</li><br>
                <li> <em>Price: 140 USD</em></li></p>
            </ul>
          </div>
        </div>
        <div class="pic">
            <img src="assets/WhatsApp_Image_2024-05-19_at_22.42.55_d3032549-removebg-preview.png" alt="Snail Facial">

        </div>
       </section>
        <button class="button">BOOK NOW!</button>
    </div>
    <div class="box1">
      <section class="facial">
          <div class="pic.r">
            <img src="assets/WhatsApp_Image_2024-05-19_at_22.42.55_83e2a1ae-removebg-preview.png" style="padding-left: 10%;" alt="Snail Facial">

          </div>
      <div class="right">
        <div class="p3">
          <p>Ethiopian Clay Bundle</p><br>
        </div>
        <div class="p2">
          <ul>
              <p><li>Description: The Ethiopian clay bundle consists of 3 different clay masks with all natural ingredients imported straight from Ethiopia and tailored to fit your skin needs</li><br>
                <li>Targets: Acne, Oily, combination and blemished skin</li><br>
                <li>Leaves the skin Calm, even and acne free</li><br>
                <li> <em>Price: 115 USD</em></li></p>
          </ul>
        </div>
      </div>

     </section>
      <button class="button">BOOK NOW!</button>
  </div>
        <section class="facial">
        <div class="left">
          <div class="p3">
            <p>The Lip Blush Combo</p>
          </div>
            <div class="p2">
            <ul>
                <p><li>Description: The lip blush combo includes a sugar scrub to exfoliate the lips and remove the dead skin, then its followed by the application of lip tint and sealed with a thick moisturizer</li><br>
                <li>Targets: Dry, shabby, cracked and dull lips</li><br>
                <li>Leaves the Lips Blumb and healthy with a pink subtle tint</li><br>
                <li> <em>Price: 85 USD</em></li></p>
            </ul>
          </div>
        </div>
        <div class="pic">
            <img src="assets/WhatsApp_Image_2024-05-19_at_22.42.56_62246d33-removebg-preview.png" alt="Lip Blush Treatment">

        </div>
       </section>
        <button class="button">BOOK NOW!</button>


    <div class="box1">
        <section class="facial">
            <div class="pic.r">
                <img src="assets/WhatsApp_Image_2024-05-19_at_22.42.56_8f8cd34e-removebg-preview.png" style="width: 100%; align-self: center; padding-left: 14%;" alt="Snail Facial">

            </div>
        <div class="right">
          <div class="p1">
            <p>HydraGlow Facial</p><br>
          </div>
          <div class="p2">
            <ul>
                <p><li>Description: A glow facial is a revitalizing skincare treatment that exfoliates, cleanses, and nourishes the skin. With ingredients like vitamin C and hyaluronic acid.</li><br>
                <li>Targets: Dry, Sensitive, Combination and oily skin</li><br>
                <li>it hydrates, reduces fine lines, and evens out skin tone for a radiant complexion</li><br>
                <li> <em>Price: 100 USD</em></li></p>
            </ul>
          </div>
        </div>

       </section>
        <button class="button">BOOK NOW!</button>
    </div>


    <div class="box1">
        <section class="facial">
        <div class="left">
          <div class="p3">
            <p>Citrus Chemical peel</p></div>
            <div class="p2">
            <ul>
                <p><li>Description: A citrus chemical peel is a powerful skincare treatment using natural citrus extracts to exfoliate and renew the skin. Great for addressing , leaving skin refreshed with minimal downtime.</li><br>
                <li>TTargets: Hyperpigmentation, sun damage and acne scars</li><br>
                <li>removes dead cells, unclogs pores, And boosts collagen and brightness</li><br>
                <li> <em>Price: 450 USD</em></li></p>
            </ul>
          </div>
        </div>
        <div class="pic">
            <img src="assets/WhatsApp_Image_2024-05-19_at_22.42.56_b63d02ab-removebg-preview.png" alt="Citrus Chemical Peel">

        </div>
       </section>
       <div class="p4">
       <p>* The citrus chemical peel is done on seperate<br> weekly sessions for the duration of 5 weeks*<br></p></div>
        <button class="button">BOOK NOW!</button>
    </div>
</body>
</html>