<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velvet Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
<style>
 
</style>
</head>
<body>
         
    <div class="box1">
        <video width="1000" height="200" autoplay playsinline muted loop id="vedioproducts">
            <source src="/assets/p-bg.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
          <div class="overlaytextproducts">
            <h6><em>OUR BEST-SELLER<br> RESTOCKED!</em></h6>

          </div>
        <section class="facial">
            <div class="piccr">
                <img src="assets/ssk.jpg" alt="SkinCare" class="pic.img">
    
            </div>
        <div class="rightnails">
            <h1>Shop SkinCare<br> <br></h1>
                <h2>Flawless and  Clear skin need a good foundation of skincare, show your skin some love and care!<br><br></h2>
                <button class="button" routerLink="/skinProducts" >BUY NOW!</button>
        </div>
       </section>
        
    </div> 
    
    <div class="box1">
        <section class="facial">
            <div class="leftnails">
                <h1>Shop Make-up<br> <br></h1>
                    <h2>Radiate your personality and enhance your features using our high end - quality - makeup products!<br><br></h2>
                    <button class="button" routerLink="/products">BUY NOW!</button>
            </div>
            <div class="picc">
                <img src="/assets/sm.jpg" style="width: 110%;"   alt="Girls with makeup">
    
            </div>
        </section>
    </div>
</body>

</html>